<h1>Book#index</h1>
<p>Find me in app/views/book/index.html.erb</p>
<h1>Books</h1>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.title,book %> was published by 
        <% book.publishes.each do |publish| %>
       <%= link_to publish.publisher.name, publish.publisher %> 
      <% end %>
    </li> 
  <% end %>
</ul>
