
<h2 class="title is-2">Books</h2>
<ol>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.title,book %> was published by 
        <% book.publishes.each do |publish| %>
       <%= link_to publish.publisher.name, publish.publisher %> 
      <% end %>
    </li>
    <li>
      ISBN: <%= book.ISBN%>
    </li> 
  <% end %>
  
</ol>
