<h1>Book#index</h1>
<p>Find me in app/views/book/index.html.erb</p>
<h1>publishes</h1>

<ul>
  <% @publishes.each do |publish| %>
    <li>
      publish Date:<%= publish.publishDate %>
        </li>
    <li>  
      Book name:<%= publish.book.title %>
        </li>
    <li>  
      Publisher:<%= publish.publisher.name %>
    </li>
  <% end %>
</ul>
