<hr>
<footer>
<p><em>Copyright Books Qingbei</em>
<ul class="mt-5">
 <li>
 <%=link_to "Home", root_path%>
 </li>
  <li>
 <%=link_to "About the Book", permalink_path('about_books')%>
 </li>
  <li>
 <%=link_to "Contact", permalink_path('contact')%>
 </li>
</ul>
</p>
</footer>